<%= form_with(model: ficha, local: true) do |form| %>
  <% if ficha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ficha.errors.count, "error") %> prohibited this ficha from being saved:</h2>

      <ul>
      <% ficha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
