<html>
<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
</head>


<body>
<div class="new-list">
  <%= link_to new_ficha_path do %>
  <i class="fas fa-plus-square fa-3x" aria-hidden="true"></i>
  <%end%>
</div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <ul class="tecno-list">
         
    <% @fichas.each do |ficha| %>
              <li>
                <time datetime="2014-07-20">
                  <span class="day"> <%= ficha.fecha.mday %> </span>
                  <span class="month"><%= ficha.fecha.strftime("%B").first(3) %></span>
                  <span class="year"><%= ficha.fecha.year %></span>
                  <span class="time">ALL DAY</span>
                </time>
                <div class="info">
                  <h2 class="title"><%= ficha.titulo %></h2>
                </div>
                  <div class="social">
                  <ul>
                    <li class="eye" style="width:33%;">
                     
                     <%= link_to ficha do %>
                      <span class="fa fa-eye"></span>
                      <%end%>
                    </li>

                    <li class="pencil" style="width:34%;">
                      
                      <%= link_to edit_ficha_path(ficha) do %>
                        <span class="fa fa-pencil-square-o"></span>
                      <%end%>
                    </li>
                    <li class="times" style="width:33%;">
                    <%= link_to ficha, method: :delete, data: { confirm: 'Estas seguro?' } do%>
                      <span class="fa fa-times"></span>
                    <%end%>
                    </li>
                  </ul>
                </div>
              </li>
        <% end %>

      
        

      </ul>
    </div>
  </div>
</div>
</body>
</html>