<!--<p id="notice"><%= notice %></p>-->


<div class="card text-center">
  <div class="card-header bg-secondary">
    <%= @ficha.titulo %>
  </div>
  <div class="card-body">
    
    <p class="card-text"><%= @ficha.descripcion %></p>

    <a href="<%= edit_ficha_path(@ficha) %>" class="btn btn-light btn-sm">Editar</a>
    <a href="<%= fichas_path%>" class="btn btn-light btn-sm" TARGET="_top">Volver</a>
    
    <!-- TARGET="_top" para recargar la pagina al volver-->

        
  </div>
  <div class="card-footer text-muted">
    <%= @ficha.fecha %>
  </div>
</div>


