// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
//@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


body {
	padding: 60px 0px;
	background-color: rgb(220, 220, 220);
}

.tecno-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.tecno-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.tecno-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(197, 44, 102);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.tecno-list > li:nth-child(even) > time {
	background-color: rgb(165, 82, 167);
}
.tecno-list > li > time > span {
	display: none;
}
.tecno-list > li > time > .day {
	display: block;
	font-size: 56pt;
	font-weight: 100;
	line-height: 1;
}
.tecno-list > li time > .month {
	display: block;
	font-size: 24pt;
	font-weight: 900;
	line-height: 1;
}
.tecno-list > li > img {
	width: 100%;
}
.tecno-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.tecno-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}
.tecno-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.tecno-list > li > .info > ul,
.tecno-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}
.tecno-list > li > .social > ul {
	margin: 0px;
}
.tecno-list > li > .info > ul > li,
.tecno-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}
.tecno-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.tecno-list > li > .social > ul > li {    
    padding: 0px;
}
.tecno-list > li > .social > ul > li > a {
    padding: 3px 0px;
} 
.tecno-list > li > .info > ul > li:hover,
.tecno-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.eye a,
.pencil a,
.times a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}

.new-list a {
	display: initial;
	color: rgb(75, 110, 168) !important;
}
.pencil a {
	color: rgb(79, 213, 248) !important;
}
.times a {
	color: rgb(221, 75, 57) !important;
}
.eye:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.new-list:hover > a > i {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}
.pencil:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}
.times:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
	.tecno-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}
	.tecno-list > li > time,
	.tecno-list > li > img  {
		display: inline-block;
	}
	.tecno-list > li > time,
	.tecno-list > li > img {
		width: 120px;
		float: left;
	}
	.tecno-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.tecno-list > li > time,
	.tecno-list > li > img {
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}
	.tecno-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}	
	.tecno-list > li > .info > .title, 
	.tecno-list > li > .info > .desc {
		padding: 0px 10px;
	}
	.tecno-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}
	.tecno-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}
    .tecno-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
	.tecno-list > li > .social > ul > li {			
		display: block;
        padding: 0px;
	}
	.tecno-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
}